<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Admin</title>
    <link rel="stylesheet" href="/dashadmin.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="contcircle">
        <div class="circle">
          <img src="/Gambar/profile.png" alt="">
        </div>
      </div>
      <div class="keterangan">
        <a href="/admin/profile">
          <span><%= user.jurusan %></span>
        </a>
      </div>
      <div class="isi">
        <div class="isi2">
          <a href="dashboard"><h4 class="dashboard">Dashboard</h4></a><br />
          <a href="pengelolaan"><h4>Pengelolaan</h4></a><br />
          <a href="historyAdmin"><h4>History</h4></a><br />
          <form id="logoutForm" action="/logout" method="POST">
            <button
              type="submit"
              onclick="logout()"
              style="background: none; border: none; cursor: pointer"
            >
              <h4>Logout</h4>
            </button>
          </form>
        </div>
        <div class="titik"></div>
      </div>
    </div>
    <div class="container">
      <div class="container2">
        <h1>Selamat Datang!</h1>
        <h3>Lihat pengajuan</h3>
        <a href="/admin/pengelolaan"><button class="mulai">Lihat</button></a>
      </div>
    </div>
    <script>
      function logout() {
        fetch("/logout", {
          method: "DELETE",
        })
          .then((response) => {
            if (response.ok) {
              window.location.href = "/login"; 
            } else {
              throw new Error("Failed to logout");
            }
          })
          .catch((error) => {
            console.error("Logout failed:", error);
          });
      }
    </script>
  </body>
</html>