</html>
    <title>Profile Mahasiswa</title>
    <link rel="stylesheet" href="/changePassDosen.css">
</head>
<body>
    <div class="sidebar">
        <div class="contcircle">
            <div class="circle">
                <img src="/Gambar/profile.png" alt="">
            </div>
        </div>
        <div class="keterangan">
            <a href="/dosen/profile">
                <div class="nama"><%= user.nama %></div>
                <div class="nim"><%= user.nim_nip %></div>
            </a>
        </div>
        <div class="isi">
            <a href="/dosen/dashboard"><h4 class="dashboard">Dashboard</h4></a><br>
            <a href="/dosen/nilai"><h4>Nilai</h4></a><br>
            <form id="logoutForm" action="/logout" method="POST">
                <button type="submit" onclick="logout()" style="background:none; border:none; cursor:pointer;"><h4>Logout</h4></button>
            </form>
            <div class="titik"></div>
        </div>
    </div>
    <div class="container">
        <div class="container2">
        <div class="profile-card">
            <div class="profile-header">Ubah Password</div>
            <div class="kanan">
                <form action="/dosen/changePass" method="POST">
                    <div class="profile-field">
                        <label>Password Saat Ini</label><br>
                        <input type="password" placeholder="Masukkan password" name="currentPassword" required>
                    </div>
                    <div class="profile-field">
                        <label>Password Baru</label><br>
                        <input type="password" placeholder="Masukkan password baru" name="newPassword" required>
                    </div>
                    <div class="profile-field">
                        <label>Konfirmasi Password</label><br>
                        <input type="password" placeholder="Masukkan password baru" name="confirmPassword" required>
                    </div>
                    <button class="ubah" type="submit">Simpan Perubahan</button>
                </form>
            </div>
        </div>
        </div>
    </div>

    <script>
        function logout() {
            fetch('/logout', {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/login'; // Redirect to login page after successful logout
                } else {
                    throw new Error('Failed to logout');
                }
            })
            .catch(error => {
                console.error('Logout failed:', error);
            });
        }
    </script>
</body>
</html>
    
