<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="sidebar">
        <div class="circle"></div>
        <div class="keterangan">
            <div class="nama">[Nama Mahasiswa]</div>
            <div class="nim">[NIM Mahasiswa]</div>
        </div>
        <div class="isi">
            <a href=""><h4 class="dashboard">Dashboard</h4></a><br>
            <a href=""><h4>Pengajuan</h4></a><br>
            <a href=""><h4>Notifikasi</h4></a><br>
            <a href=""><h4>Status</h4></a><br>
            <a href=""><h4>History</h4></a><br>
            <div class="titik"></div>
        </div>
    </div>
    <div class="container">
    </div>
</body>
</html>