<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <form method="POST" action="/login">
    <div class="container">
        
        <div class="kiri">
            <h2>Selamat Datang<br>di Web Transkrip Nilai</h2>
        </div>
        <div class="kanan">
           <div class="isi">
                <h4>Email</h4>
                <input type="text" placeholder="masukkan email" name="email">
                <h4>Password</h4>
                <input type="password" placeholder="masukkan password" name="password">
                <button type="submit">Login</button>
                <br>
                <br>
                <% if (typeof error !== 'undefined' && error) { %>
                    <p style="color: red;"><%= error %></p>
                  <% } %>
           </div>
        </div>
    </div>
</form>
</body>
</html>