<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <link rel="stylesheet" href="/dashadmin.css">
</head>
<body>
    <div class="sidebar">
        <div class="circle"></div>
        <div class="keterangan">
            <div class="jurusan">[Jurusan]</div>
        </div>
        <div class="isi">
            <a href=""><h4 class="dashboard">Dashboard</h4></a><br>
            <a href=""><h4>Pengelolaan</h4></a><br>
            <a href=""><h4>History</h4></a><br>
            <div class="titik"></div>
        </div>
    </div>
    <div class="container">
    </div>
</body>