@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Gambar/Unand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Montserrat';
}

.container{
    max-width: 1000px;
    width: 100%;
    height: 100%;
    max-height: 530px;
    background-color: white;
    display: flex;
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.284), rgba(255, 255, 255, 0.223));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px 20px 20px 20px;
    padding: 0px;
    margin-left: 280px;
    margin-top: 100px;
    position: fixed;
}

.kanan{
    display: block;
    max-width: 400px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
}

.kiri{
    margin-top: 160px;
    display: block;
    max-width: 600px;
    width: 100%;
    height: 100%;
    padding: 60px;
    font-size: 25px;
}

input{
    width: 100%;
    max-width: 250px;
    padding: 10px;
    border-radius: 10px;
    border-color: #233323;
    border-style: double ;
}

.isi{
    margin-top: 150px;
}

h4{
    margin-top: 20px;
    text-align: start;
    margin-left: 75px;
    margin-bottom: 5px;

}

h2{
    color: #c6e29d;
    font-size: 30px;
    text-shadow: 2px 2px #233323;
}

.masuk{
    margin-top: 160px;
    color: #233323;
    font-size: 12px;
}

.button{
    margin-top: 40px;
}

button{
    margin: auto;
    margin-top: 40px;
    display: block;
    background-color: #c6e29d;
    width: 50%;
    padding: 10px;
    padding-bottom: 13px;
    padding-top: 13px;
    border-radius: 30px;
    border: 0px;
    font-weight: bold;
    color: #2f493b;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.17);
}

button:hover{
    background-color: #233323;
    color: #c6e29d;
}

.error{
    z-index: 7;
    color: red;
}