@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: white;
    display: flex;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.284), rgba(255, 255, 255, 0.223));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    background-image: url(./Gambar/Unand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    display: flex;
    font-family: 'Montserrat';
    width: 100%;
}

.sidebar{
    margin-left: 15px;
    max-width: 220px;
    width: 100%;
    height: 93%;
    background-color: #233323;
    border-radius: 20px;
    z-index: 3;
}

.circle {
    height: 75px;
    width: 75px;
    background-color: #ffffff;
    border-radius: 50%;
}

.contcircle{
    position: absolute;
    width: 100%;
    max-width: 220px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;     
    height: 100%;   
    margin-top: -280px;
}

img{
    height: 76px;
    width: 76px;
    border-radius: 50%;
}

.titik{
    background-color: #c6e29d;
    max-width: 100%;
    width: 13px;
    max-height: 100%;
    height: 32px;
    border-radius: 0px 6px 6px 0px;
    margin-top: -198px;
    position: absolute;
    z-index: 2;

}

h4{
    margin-top: 7px;
    text-align: start;
    margin-left: 55px;
    margin-bottom: 5px;
    color: #536653;
    font-size: 20px;
}

h4:hover{
    color: #c6e29d;
}

.dashboard{
    color: #c6e29d;
}

a{
    text-decoration: none;
    color: #c6e29d;
}

.isi{
    margin-top: 240px;
    position: absolute;
    justify-content: center; 
    align-items: center;     
    text-align: center;  
    width: 100%;
    max-width: 220px;
}

.isi2{
    margin-left: -8px;
}

.container{
  width: 100%;
  max-width: 2500px;
  height: 100%;
  background-color: #ffffff6c;
  z-index: 1;
  margin-left: -235px;
}

.keterangan {
  position: absolute;
  width: 100%;
  max-width: 220px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;     
  height: 100%;   
  margin-top: -200px;
}

form{
  margin-left: -95px;
}

.nama, .nim {
  margin: auto;
}

.jurusan{
  margin-left: 36px;
  margin-top: 7px;
}

span{
  color: #c6e29d;
  margin-left: 11px;
  margin-top: 5px;
}

.container2{
  background-color: #23332300;
  border-width: 3px;
  border-color: #233323;
  border-radius: 20px;
  border-style: solid;
  width: 100%;
  height: 93%;
  max-width: 1220px;   
  margin-top: 25px;
  margin-left: 290px;
  z-index: 3;
  text-align: center; 
}

h3{
  font-size: 25px;
  margin-top: 40px;
  margin-left: 40px;
  position: absolute;
}

.container3{
  margin-top: 150px;
}

.pengajuan{
  background-color: #ffffff;
  width: 290px;
  height: 130px;
  padding-top: 25px;
  border-radius: 20px;
  margin: 2rem;
}

.pengajuan .more{
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.pengajuan h1{
  color: #000000;
  text-align: start;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
}

.pengajuan h2{
  color: #000000;
  text-align: start;
  font-size: 38px;
  font-weight: 500;
  margin-top: -15px;
  margin-left: 20px;
}

.pengajuan hr {
  height: 1px;
  background-color: #000000;
  border-style: none;
}


.disetujui{
  background-color: #536653;
  width: 290px;
  height: 130px;
  padding-top: 25px;
  border-radius: 20px;
  margin: 2rem;
}

.disetujui .more{
  text-decoration: none;
  text-align: center;
  color: #c6e29d;
}

.disetujui h1{
  color: #c6e29d;
  text-align: start;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
}

.disetujui h2{
  color: #c6e29d;
  text-align: start;
  font-size: 38px;
  font-weight: 500;
  margin-top: -15px;
  margin-left: 20px;
}

.disetujui hr {
  height: 1px;
  background-color: #ffffff;
  border-style: none;
}

.ditolak{
  background-color: #233323;
  width: 290px;
  height: 130px;
  padding-top: 25px;
  border-radius: 20px;
  margin: 2rem;
}

.ditolak .more{
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.ditolak h1{
  color: #ffffff;
  text-align: start;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
}

.ditolak h2{
  color: #ffffff;
  text-align: start;
  font-size: 38px;
  font-weight: 500;
  margin-top: -15px;
  margin-left: 20px;
}

.ditolak hr {
  height: 1px;
  background-color: #ffffff;
  border-style: none;
}

.history{
  border-width: 2px;
  border-color: #000000;
  border: solid;
  width: 290px;
  height: 130px;
  padding-top: 25px;
  border-radius: 20px;
  margin: 2rem;
}

.history .more{
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.history h1{
  color: #000000;
  text-align: start;
  margin-bottom: 55px;
  font-size: 18px;
  font-weight: 550;
  margin-left: 20px;
  margin-top: -8px;
}

.history hr {
  height: 1px;
  background-color: #000000;
  border-style: none;
}

.atas{
  display: flex;
  margin-left: 260px;
  margin-top: 80px;
}

.bawah{
  display: flex;
  margin-left: 260px;
}

hr{
  margin-bottom: 5px;
}