@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{

            background-color: white;
            display: flex;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.284), rgba(255, 255, 255, 0.223));
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border:1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            border-radius: 20px 20px 20px 20px;
            margin: auto;
            background-image: url(./Gambar/Unand.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            align-items: center;
            display: flex;
            font-family: 'Montserrat';
        }

        .sidebar{
            margin-left: 15px;
            max-width: 220px;
            width: 100%;
            height: 93%;
            background-color: #233323;
            border-radius: 20px;
            z-index: 3;
        }

        .circle {
            height: 75px;
            width: 75px;
            background-color: #ffffff;
            border-radius: 50%;
        }

        img{
            height: 76px;
            width: 76px;
            border-radius: 50%;
        }

        .contcircle{
            position: absolute;
            width: 100%;
            max-width: 220px;
            display: flex;
            justify-content: center; 
            align-items: center;     
            text-align: center;     
            height: 100%;   
            margin-top: -280px;
        }

        .titik{
            background-color: #c6e29d;
            max-width: 100%;
            width: 13px;
            max-height: 100%;
            height: 32px;
            border-radius: 0px 6px 6px 0px;
            margin-top: -145px;
            position: absolute;
            z-index: 2;
        
        }

        h4{
            margin-top: 7px;
            text-align: start;
            margin-left: 55px;
            margin-bottom: 5px;
            color: #536653;
            font-size: 20px;
        }

        h4:hover{
            color: #c6e29d;
        }

        .dashboard{
            color: #c6e29d;
        }

        a{
            text-decoration: none;
            color: #c6e29d;
        }

        .isi{
            margin-top: 240px;
            position: absolute;
            justify-content: center; 
            align-items: center;     
            text-align: center;  
            width: 100%;
            max-width: 220px;
        }

        .container{
            width: 100%;
            max-width: 2500px;
            height: 100%;
            background-color: #ffffff6c;
            z-index: 1;
            margin-left: -235px;
        }

        .keterangan{
            position: absolute;
            width: 100%;
            max-width: 220px;
            display: flex;
            justify-content: center; 
            align-items: center;     
            text-align: center;     
            height: 100%;   
            margin-top: -200px;
        }

        .link{
            color: #c6e29d;
            margin-left: 15px;
            margin-top: 5px;
        }

        .profile-card {
            padding: 20px;
            z-index: 2;
            background-color: #c6e29d00;
            max-width: 100%;
            width: 520px;
            border-radius: 20px;
            margin: 3rem;
        }
        .profile-header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            z-index: 2;
            text-align: start;
            margin-bottom: 30px;
        }
        .profile-field {
            margin-bottom: 20px;
            z-index: 2;
            text-align: start;
        }
        .profile-field label {
            font-weight: bold;
        }

        .nama, .nim {
            margin: auto;
        }

        form{
            margin-left: -95px;
        }

        .ubah{
            margin-left: 0px;
            margin-top: 40px;
            display: block;
            background-color: #536653;
            width: 35%;
            padding: 10px;
            padding-bottom: 13px;
            padding-top: 13px;
            border-radius: 30px;
            border: 0px;
            font-weight: bold;
            color: #c6e29d;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.17);
        }

        .ubah:hover{
            color: #c6e29d;
            background-color: #233323;
        }

        .container2{
            background-color: #23332300;
            border-width: 3px;
            border-color: #233323;
            border-radius: 20px;
            border-style: solid;
            width: 100%;
            height: 93%;
            max-width: 1240px;   
            margin-top: 25px;
            margin-left: 260px;
            z-index: 3;
            text-align: center; 
        }