@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.284),
    rgba(255, 255, 255, 0.223)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  background-image: url(./Gambar/Unand.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  display: flex;
  font-family: "Montserrat";
  width: 100%;
}

.sidebar {
  margin-left: 15px;
  max-width: 220px;
  width: 100%;
  height: 93%;
  background-color: #233323;
  border-radius: 20px;
  z-index: 3;
}

.circle {
  height: 75px;
  width: 75px;
  background-color: #ffffff;
  border-radius: 50%;
}

.contcircle {
  position: absolute;
  width: 100%;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-top: -280px;
}

.profilePNG {
  height: 76px;
  width: 76px;
  border-radius: 50%;
}

.titik {
  background-color: #c6e29d;
  max-width: 100%;
  width: 13px;
  max-height: 100%;
  height: 32px;
  border-radius: 0px 6px 6px 0px;
  margin-top: -143px;
  position: absolute;
  z-index: 2;
}

h4 {
  margin-top: 7px;
  text-align: start;
  margin-left: 55px;
  margin-bottom: 5px;
  color: #536653;
  font-size: 20px;
}

h4:hover {
  color: #c6e29d;
}

.dashboard {
  color: #c6e29d;
}

.sidebar a {
  text-decoration: none;
  color: #c6e29d;
}

.isi {
  margin-top: 240px;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 220px;
}

.container {
  width: 100%;
  max-width: 2500px;
  height: 100%;
  background-color: #ffffff6c;
  z-index: 1;
  margin-left: -235px;
}

.keterangan {
  position: absolute;
  width: 100%;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-top: -200px;
}

form {
  margin-left: -95px;
}

.nama,
.nim {
  margin: auto;
}

.container2 {
  background-color: #23332300;
  border-width: 3px;
  border-color: #233323;
  border-radius: 20px;
  border-style: solid;
  width: 100%;
  height: 93%;
  max-width: 1240px;
  margin-top: 25px;
  margin-left: 260px;
  z-index: 3;
  text-align: center;
}

.container2 .status-list {
  margin-top: 10px;
}

h1 {
  margin: auto;
  margin-top: 40px;
}

.detail{
  background-color: #ffffff;
  width: 1000px;
  height: 60px;
  border-radius: 10px;
  transition: 0.5s;
  padding: 18px;
  margin: auto;
  margin-top: 40px;
}

.detail:hover{
  height: 170px;
}

h3{
  color: #000000;
  text-align: start;
}

p{
  color: #000000;
  text-align: justify;
}

.container .detail .konten .atas{
  margin-bottom: 10px;
}

.container .detail .konten{
  width: 100%;
  height: 35px;
  overflow: hidden;
  transition: 0.5s;
}

.container .detail:hover .konten{
  height: 250px;
}

.download{
  width: 40px;
  height: 35px;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 2px;
  margin-right: -300px;
}

.icon{
  margin: 2px;
}

.preview{
  padding: 4px;
}



