<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="contcircle">
        <div class="circle">
          <img src="/Gambar/profile.png" alt="">
        </div>
      </div>
      <div class="keterangan">
        <a href="/dosen/profile">
          <div class="nama"><%= user.nama %></div>
          <div class="nim"><%= user.nim_nip %></div>
        </a>
      </div>
      <div class="isi">
        <a href="home"><h4 class="dashboard">Dashboard</h4></a><br />
        <a href="pengajuan"><h4>Pengajuan</h4></a><br />
        <a href="notifikasi"><h4>Notifikasi</h4></a><br />
        <a href="status"><h4>Status</h4></a><br />
        <a href="history"><h4>History</h4></a><br />
        <form id="logoutForm" action="/logout" method="POST">
          <button
            type="submit"
            onclick="logout()"
            style="background: none; border: none; cursor: pointer"
          >
            <h4>Logout</h4>
          </button>
        </form>
        <div class="titik"></div>
      </div>
    </div>
    <div class="container">
      <div class="container2">
        <h1>Selamat Datang!</h1>
        <h3>Silahkan ajukan transkrip</h3>
        <a href="pengajuan"><button class="mulai">mulai</button></a>
      </div>
    </div>

    <script>
      function logout() {
        fetch("/logout", {
          method: "DELETE",
        })
          .then((response) => {
            if (response.ok) {
              window.location.href = "/login"; 
            } else {
              throw new Error("Failed to logout");
            }
          })
          .catch((error) => {
            console.error("Logout failed:", error);
          });
      }
    </script>
  </body>
</html>
