<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pengajuan</title>
    <link rel="stylesheet" href="/pengajuan.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="contcircle">
        <div class="circle">
          <img src="/Gambar/profile.png" alt="">
        </div>
      </div>
      <div class="keterangan">
        <a href="/dosen/profile">
          <div class="nama"><%= user.nama %></div>
          <div class="nim"><%= user.nim_nip %></div>
        </a>
      </div>
      <div class="isi">
        <a href="home"><h4>Dashboard</h4></a><br />
        <a href="pengajuan"><h4 class="dashboard">Pengajuan</h4></a><br />
        <a href="notifikasi"><h4>Notifikasi</h4></a><br />
        <a href="status"><h4>Status</h4></a><br />
        <a href="history"><h4>History</h4></a><br />
        <form id="logoutForm" action="/logout" method="POST">
          <button
            type="submit"
            onclick="logout()"
            style="background: none; border: none; cursor: pointer"
          >
            <h4>Logout</h4>
          </button>
        </form>
        <div class="titik"></div>
      </div>
    </div>
    <div class="container">
      <div class="container2">
      <h1>Form Pengajuan</h1>
      <div class="isi2">
      <form
        action="/mahasiswa/pengajuan"
        method="POST"
        enctype="multipart/form-data"
      >
      <div class="label">
        <label for="ktm">Bukti KTM/KRS</label><br/>
      </div>
      <div class="divfile">
        <input class="file" type="file" id="gambar" name="gambar"/> 
      </div>
        <br/><br/><br/>
        <label class="alasan" for="alasan">Alasan</label><br />
      <div class="submit">
        <textarea id="alasan" name="alasan" required></textarea>
        <br />
        <button class="buttonSub" type="submit">Submit</button>
      </div>
      </form>
    </div>
    </div>
    </div>

    <script>
      function logout() {
        fetch("/logout", {
          method: "DELETE",
        })
          .then((response) => {
            if (response.ok) {
              window.location.href = "/login"; // Redirect to login page after successful logout
            } else {
              throw new Error("Failed to logout");
            }
          })
          .catch((error) => {
            console.error("Logout failed:", error);
          });
      }
    </script>
  </body>
</html>
